html {
  background-color: #fff;
}
.title {
  text-align: center;
  font-size: 5em;
  color: #91dc5a;
}
.subtitle {
  text-align: center;
  font-size: 3em;
  color: #91dc5a;
}
.container {
  margin-left: 23%;
  margin-right: 25%;
  margin-top: 50px;
}
.button-container {
  float: left;
  margin-top: 15%;
  margin-left: 8%;
}
.button-container:hover{
  opacity: 0.8;
}
.fps-container {
  float: right;
  margin-top: 15%;
  margin-right: 5%;
}
.play {
  width: 128px;
  height: 128px;
  background: url("play-button.png");
}
.fps {
  font-size: 7.5em;
  color: #91dc5a;
}
