html {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}
.logo {
  background: url("./assets/lambdoid-logo.png");
  position: fixed;
  bottom: 50;
  right: 50;
  width: 250px;
  height: 250px;
}
.title {
  text-align: center;
  font-size: 5em;
  color: #91dc5a;
}
.subtitle {
  text-align: center;
  font-size: 3em;
  color: #91dc5a;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}
.button-container {
  position: fixed;
  left: 100;
  bottom: 50%;
  transition: all 0.5s ease 0s;
}
.button-container:hover {
  opacity: 0.6;
}
.fps-container {
  position: fixed;
  right: 100;
  bottom: 50%;
}
.play {
  width: 128px;
  height: 128px;
  background: url("./assets/play-button.png");
}
.fps {
  font-size: 5em;
  color: #91dc5a;
}
