html {
  background-color: #fff;
  font-family: 'Raleway', sans-serif;
}
.title {
  text-align: center;
  font-size: 5em;
  color: #91dc5a;
}
.subtitle {
  text-align: center;
  font-size: 3em;
  color: #91dc5a;
}
.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index:-1;
}
.button-container {
  float: left;
  margin-top: 15%;
  margin-left: 8%;
  transition: all 0.5s ease 0s;
}
.button-container:hover {
  opacity: 0.6;
}
.fps-container {
  float: right;
  margin-top: 15%;
  margin-right: 7%;
}
.play {
  width: 128px;
  height: 128px;
  background: url("play-button.png");
}
.fps {
  font-size: 5em;
  color: #91dc5a;
}
