doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Lambda Engine Tests
    link(rel='shortcut icon', type='image/png', href='../lib/jasmine-2.5.2/jasmine_favicon.png')
    link(rel='stylesheet', type='text/css', href='../lib/jasmine-2.5.2/jasmine.css')
    script(type='text/javascript', src='../lib/require.js', data-main='../tests/main')
  body
    canvas#canvas(width='0', height='0', style='display:none')
